DATABASE_URL="mysql://root:longcf123@localhost:3306/contests"
JWT_SECRET="supersecretkeythatismorethan32chars"
JWT_EXPIRES_IN="1h"
JWT_REFRESH_EXPIRES_IN="30d"
UsernameAdmin="admin"
PasswordAdmin="admin@123"
EmailAdmin="admin@example.com"